In [833]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt

In [855]:
data = pd.read_csv('C:\\Users\\Admin\\Downloads\\DataSciense\\Проект 1. Кто хочет стать миллионером кинопроката\\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1004,tt1397514,79000000,355692760,Journey 2: The Mysterious Island,Dwayne Johnson|Josh Hutcherson|Kristin Davis|V...,Brad Peyton,Believe the Impossible. Discover the Incredible.,Sean Anderson partners with his mom's boyfrien...,94,Adventure|Action|Science Fiction,New Line Cinema|Contrafilm|Walden Media,1/19/2012,5.8,2012
1061,tt1598828,40000000,36893721,One for the Money,Katherine Heigl|John Leguizamo|Debbie Reynolds...,Julie Anne Robinson,She's looking for a few not-so-good men,"Stephanie Plum (Katherine Heigl), an unemploye...",91,Action|Comedy|Thriller|Crime|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/26/2012,5.2,2012
1749,tt0462244,6000000,18197398,Daddy Day Camp,Cuba Gooding Jr.|Tamala Jones|Paul Rae|Lochlyn...,Fred Savage,The summer is going to be in tents.,Seeking to offer his son the satisfying summer...,89,Comedy|Family,Revolution Studios|TriStar Pictures,8/8/2007,4.8,2007
1257,tt1321511,30000000,4861022,Oldboy,Josh Brolin|Elizabeth Olsen|Samuel L. Jackson|...,Spike Lee,Ask not why you were imprisoned. Ask why you w...,An everyday man has only three and a half days...,104,Drama|Thriller|Mystery|Action,Vertigo Entertainment|40 Acres & A Mule Filmwo...,11/14/2013,6.0,2013
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002

In [834]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [875]:
answers = {} # создадим словарь для ответов

# Считаем профит
profit = data.revenue - data.budget
data.insert(loc=len(data.columns), column='profit', value=profit)

# Приводим колонку с датами в читаемый для pandas
from datetime import datetime, date, time
data['release_date'] = pd.to_datetime(data['release_date']) 
data.insert(loc=len(data.columns), column='release_date', value=release_date)

# Перезаписываем и считаем кол-во жанров в списке 
genres_counter=Counter()
for genres in data['genres']:
    for genre in genres:
        genres_counter[genre]+=1

ValueError: cannot insert profit, already exists

In [837]:
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [778]:
data.loc[3, 'release_date'].month_name()

'December'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [569]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [804]:
bud_max = data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending=False)
display(bud_max.head(1))
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [805]:
m_long = data.groupby(['original_title', 'imdb_id'])['runtime'].max().sort_values(ascending=False)
display(m_long.head(1))
answers['2'] = 'Gods and Generals (tt0279111)'

original_title     imdb_id
Gods and Generals  tt0279111    214
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [806]:
m_short = data.groupby(['original_title', 'imdb_id'])['runtime'].min().sort_values(ascending=True)
display(m_short.head(1))
answers['3'] = 'Winnie the Pooh (tt1449283)'

original_title   imdb_id
Winnie the Pooh  tt1449283    63
Name: runtime, dtype: int64

# 4. Какова средняя длительность фильмов?

In [807]:
m_mean = data.groupby(['original_title'])['runtime'].mean()
display(m_mean.mean())
answers['4'] = '110'

109.66216216216216

# 5. Каково медианное значение длительности фильмов?

In [808]:
m_mean = data.groupby(['original_title'])['runtime'].median()
display(m_mean.median())
answers['5'] = '107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [809]:
prof_max = data.groupby(['imdb_id', 'original_title'])['profit'].max().sort_values(ascending=False)
print(prof_max.head(1))
answers['6'] = 'tt0499549  Avatar'

imdb_id    original_title
tt0499549  Avatar            2544505847
Name: profit, dtype: int64

# 7. Какой фильм самый убыточный?

In [810]:
prof_min = data.groupby(['imdb_id', 'original_title'])['profit'].min().sort_values(ascending=False)
print(prof_min.tail(1))
answers['7'] = 'tt1210819  The Lone Ranger   -165710090'

imdb_id    original_title
tt1210819  The Lone Ranger   -165710090
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [811]:
bud_8 = data[(data['revenue']) > (data['budget'])]
display(len(bud_8))
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [812]:
mov_9 = data.groupby(['imdb_id', 'original_title'])['revenue', 'release_year'].max()
mov_92 = mov_9.loc[mov_9['release_year'] == 2008].sort_values(['revenue'], ascending=False)
display(mov_92.head(1))

answers['9'] = 'tt0468569 The Dark Knight'

<ipython-input-812-2fcc2b2b2dad>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mov_9 = data.groupby(['imdb_id', 'original_title'])['revenue', 'release_year'].max()

                              revenue  release_year
imdb_id   original_title
tt0468569 The Dark Knight  1001921825          2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [813]:
mov_10 = data.groupby(['imdb_id', 'original_title'])['profit', 'release_year'].min()
res_10 = mov_10.query('2012 < release_year < 2015')
display(res_10.sort_values(['profit'], ascending=True).head(1))

answers['10'] = 'tt1210819	The Lone Ranger'

<ipython-input-813-9d8d47997f65>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mov_10 = data.groupby(['imdb_id', 'original_title'])['profit', 'release_year'].min()

                              profit  release_year
imdb_id   original_title
tt1210819 The Lone Ranger -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [814]:
genres_counter = Counter()
for genres in data['genres']:
    for genre in genres:
        genres_counter[genre] += 1

res_11 = Counter(data.genres.str.split('|').sum()).most_common(1)
display(res_11)
answers['11'] = 'Drama, 782'

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [877]:
mov_12 = data.groupby(['genres'])['profit', 'release_year'].sum()
res_12 = mov_12.query('profit > 0')
display(res_12.sort_values(['profit'], ascending=False).head(1))

answers['12'] = 'Comedy'

<ipython-input-877-44e13f37e0d9>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mov_12 = data.groupby(['genres'])['profit', 'release_year'].sum()

            profit  release_year
genres
Comedy  9017827476        283177

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [878]:
res_13 = data.groupby(['director'])['profit'].sum()
display(res_13.sort_values(ascending=False).head(1))
answers['13'] = 'Peter Jackson 5202593685'

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [817]:
data_2 = data[data["genres"].str.contains("Action")].copy()
data_2["director"] = data_2["director"].str.split("|")
data_2 = data_2.explode("director")
res_14 = data_2["director"].value_counts()
print(res_14.head(1))
answers['14'] = 'Robert Rodriguez - 9'

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [862]:
data["cast"] = data["cast"].str.split("|").copy()
data = data.explode("cast")
res_15 = data["cast"].value_counts()
data = data.groupby(['release_year'])['profit'].max()
print(res_15.head(3))

#answers['15'] = ''

Samuel L. Jackson    27
Nicolas Cage         27
Matt Damon           26
Name: cast, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [864]:
res_16 = data.groupby(['cast'])['profit'].mean()
display(res_16.sort_values(ascending=False).head(3))
#answers['16'] = ''

KeyError: 'cast'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [823]:
data_17 = data[data["cast"].str.contains("Nicolas Cage")].copy()
data_17["genres"] = data_17["genres"].str.split("|")
data_17 = data_17.explode("genres")
res_14 = data_17["genres"].value_counts()
print(res_14.head(1))

answers['17'] = 'Action    17'

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [841]:
movies = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
movies_y = wb_movies.groupby(['imdb_id','original_title'])
sorted_movies = movies_y['profit'].sum().sort_values(ascending=True)
#print(sorted_movies.head(1))
display(sorted_movies.head(1).index[0])

answers['18'] = 'K-19: The Widowmaker'

('tt0267626', 'K-19: The Widowmaker')

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [840]:
prof_max = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
print(prof_max.head(1))

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [839]:
movies = data[data.production_companies.str.contains("Warner Bros", na=False)]
movies_y = movies.groupby(['release_year'])
sorted_movies = movies_y['profit'].sum().sort_values(ascending=False)
print(sorted_movies.head(1))
#print(sorted_movies.head(1).index[0])

answers['20'] = '2014'

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [838]:
mov_sum = data.release_date.dt.month.value_counts()
display(mov_sum.head(1))

answers['21'] = 'Сентябрь (9)'

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [792]:
mov_sum = data.release_date.dt.month.value_counts()
mov_sum = data[data.release_date('December', 'January', 'February', na=False)]
display(mov_sum)

answers['21'] = '450'

TypeError: 'Series' object is not callable

# 23. Для какого режиссера зима – самое продуктивное время года?

In [793]:
movie_winter = date[date(['December', 'January', 'February'])]
movie_winter.director = movie_winter.director.str.split('|')
movie_winter = movie_winter.explode('director')
print(movie_winter.director.value_counts().sort_values(ascending=False).head(10))

TypeError: an integer is required (got type list)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [827]:
def permute (lst):
    """
    Вычисляет комбинаторное число размещений A из N элементов по 2:
    A = N! / (N - 2)! или A = N * (N - 1)
    Вход: актёрский состав данного фильма, имена актёров разделены символом "|"
    Выход: Список списков. Внутренние списки - имена пар актёров.
    """
    lst = lst.split('|')
    abc = []
    for name1 in lst:
        for name2 in lst:
            if name1 == name2 : continue
            abc += [(name1, name2)]
    return abc

cols = ['original_title', 'cast']
data = data[cols].copy()
data.cast = data.cast.apply(permute)
data = data.explode('cast')
display(data.cast.value_counts().head(7))

name1, name2 = data.cast.value_counts().index[0]
name12, name22 = data.cast.value_counts().index[1]
print(f'Чаще всего в одном фильме снимается пара {name1} & {name2},')
print(f'а также - пара {name12} & {name22}.')

answers['27'] = 'Rupert Grint & Daniel Radcliffe'

(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Daniel Radcliffe)       8
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Daniel Radcliffe)        8
(Rupert Grint, Emma Watson)            8
(Emma Watson, Rupert Grint)            8
(Johnny Depp, Helena Bonham Carter)    6
Name: cast, dtype: int64

Чаще всего в одном фильме снимается пара Daniel Radcliffe & Emma Watson,
а также - пара Rupert Grint & Daniel Radcliffe.

# Submission

In [842]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': 'Сентябрь (9)', '20': '2014', '18': 'K-19: The Widowmaker'}

In [796]:
# и убедиться что ни чего не пропустил)
len(answers)

2